body {
    height: 1900px;
    /* overflow: hidden; */
    background-image: linear-gradient(to bottom left, #2e3b4e, #0d0d13 52%, #0d0d13)
}
.w {
    width: 1200px;
    margin: auto;
} 

.all {
    width: 1670.67px;
    height: 1700px;
    background-image: url(../image/bigbj1.jpg) ;
    background-repeat: no-repeat;
    margin-top: 40px;
}
a {
    text-decoration: none;
}

.header {
    width: 1690.67px;
    height: 84px;
    background-color: rgba(50, 50, 53,.5);
    margin: 30px 0;
}

.ai {
    float: left;
    width: 142px;
    height: 80px;
    margin-left: 40px;
}

.nav {
    float: left;
    margin-left: 60px;
}

.nav ul li {
    float: left;
    list-style: none;
}

.nav ul li a {
    display: block;
    height: 62px ;
    padding: 0 40px;
    font-size: 35px;
    color: #C9C9DD;
}

.nav ul li a:hover {
    color: #f3c258;
    border-bottom:3px solid #f3c258;
}

.arrow-bottom {
    margin-left: 800px;
    margin-top: 700px;
}
.banner {
    /* background-color: #80809a; */
    width: 1690.67px;
    height: 600px;
    margin-top: 110px;
}

.banner .w {
    height: 600px;
    /* background-color: #2e2e92; */
}

.subnav {
    float: left;
    width: 325px;
    height: 600px;
    background-color: rgba(50, 50, 53, 0.2);
    
}

.right {
    position: relative;
    float: left;
    height: 600px;
    width: 875px;
    margin: 0%;
    overflow: hidden;
}

.right .photo {
    position: absolute;
    top: 0;
    left: 0;
    width: 600%;
    margin: 0 0;
    padding-left: 0%;
}

.right .photo li {
    float: left;
}

.right .current {
    background-color: #ff5000;
}

.arrow_l,.arrow_r {
    display: none;
    position: absolute;
    top: 270px;
    width: 50px;
    height: 60px;
    background: rgba(0, 0, 0, .7);
    color: white;
    line-height: 60px;
    text-align: center;
    font-size: 30px;
}

.arrow_l {
    left: 0;
    border-top-right-radius: 30px;
    border-bottom-right-radius: 30px;
}

.arrow_r {
    right: 0%;
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;
}

.promo-nav {
    position: absolute;
    bottom: 10px;
    left: 402px;
    width: 82px;
    height: 13px;
    background-color: rgba(255, 255, 255, .5);
    list-style: none;
    border-radius: 7px;
    padding: 0px 3px;
}

.promo-nav li {
    float: left;
    width: 8px;
    height: 8px;
    background-color: white;
    border-radius: 50%;
    margin: 3px 6px;
}

.promo-nav.current {
    background-color: #f3c258;

}
.subnav ul {
    padding: 0%;
    margin: 0;
}
.subnav ul li {
    list-style: none;
    height: 150px;
    line-height: 150px;
}

.subnav ul li a {
    display: block;
    height: 150px;
    width: 315px;
    font-size: 30px;
    padding: 0 5px;
    color: #C9C9DD;
}

.subnav ul li a:hover {
    background-color: rgba(243, 194, 88,.3);
}

.left-control-container {
    position: absolute;
    top: 50%;
    left: 20px;
    width: 400px;
    height: 620px;
    margin-top: -310px;
    background-image: url(../image/border-left.0932.png);
    background-size: cover;
    background-position: 0;
}

.right-control-container {
    position: absolute;
    top: 50%;
    right: 20px;
    width: 200px;
    height: 620px;
    margin-top: -310px;
    background-image: url(../image/border-right.61f0.png);
    background-size: cover;
    background-position: 100%;
}

#top-bg-container {
    top: -120px;
    height: 240px;
    background-image: url(../image/top-bg.7c77.png);
    background-size: 100% 240px
}

#bottom-bg-container,
#top-bg-container {
    position: absolute;
    width: 100%;
    -webkit-animation: bottomfadein 1s 1s;
    animation: bottomfadein 1s 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    pointer-events: none
}

#bottom-bg-container {
    bottom: 0;
    height: 289px;
    background-image: url(../image/bottom-bg.8d9e.png);
    background-size: cover;
    background-position: top;
}
